# Archivo de secretos y variables de entorno
.env

# Entorno virtual de Python
.venv/
__pycache__/
*.pyc

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs (como el que ya tienes en .idea)
.idea/